@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #f2f2f2;
  width: 1280px;
  /*необходимо потом удалить это для наглядности*/
  outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  flex-grow: 1;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 #cccccc;
  width: 1200px;
}

.button {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 0 4px 4px 0;
  border: none;
  width: 232px;
  padding: 0;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
  display: flex;
  width: 1200px;
  height: 64px;
}

.navigation-logo {
  cursor: pointer;
  text-decoration: underline;
  color: #ffffff;
  position: sticky;
}

.page-header-logo {
  display: block;
  padding-left: 70px;
  margin-right: 30px;
}

.navigation {
  display: flex;
  width: 892px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.navigation-list {
  width: 420px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-item {
  display: inline;
  margin-right: 16px;
}

.navigation-link {
  text-decoration: none;
  color: #000000;
}

.navigation-user {
  max-width: 310px;
  margin-left: auto;
}

.navigation-item {
  text-decoration: none;
  color: #000000;
}

.main-container {
  flex-grow: 1;
  color: #000000;
}

.index-hero {
  background-color: #ffffff;
  background-image: url(/images/index/index-main-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  text-align: center;
  margin-bottom: 21px;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.index-title-font {
  margin: 51px 371px 82px;
  /*Можно ли так задавать отступы?*/
  text-align: center;
}

.index-subtitle {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}

.index-subtitle-description {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
  text-align: center;
}

.advantages {
  /* display: flex;
  flex-direction: row;
  justify-content: space-between; */
  background-color: #ffffff;
}

.advantages-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 1200px;
  list-style-type: none;
}

.advantages-item-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  background-color: #82b3d3;
  color: #ffffff;
}

.advantages-title {
  width: 175px;
  height: 56px;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-description {
  width: 230px;
  height: 63px;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 385px;
  background-color: #f0f6fa;
  text-align: center;
}

.advantages-item-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 385px;
  background-color: #e6f0f6;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

/* img {
  vertical-align: middle;
}*/
/*Убрать пустое пространство под изображением можно с помощью vertical-align: middle*/






.services {
  background-color: #ffffff;
  list-style-type: none;
  margin-bottom: 96px;
}

.services-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 1200px;
  background-color: #ffffff;
  list-style-type: none;
}

.services-item-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f6fa;
  width: 400px;
  height: 385px;
  text-align: center;
}

.services-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 400px;
  height: 385px;
  text-align: center;
}

.services-title {
  width: 230px;
  height: 28px;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.services-description {
  width: 230px;
  height: 63px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.index-subtitle {
  padding-top: 64px;
  margin: 0 0 20px 0;
}

.index-subtitle-description {
  padding-bottom: 64px;
  margin: 0;
}

.search-hotels-title {
  display: block;
  margin: 0 auto;
  width: 276px;
  height: 36px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
  padding: 8px 50px;
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  background-image: url(/images/index/blur-subscribe-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 1200px;
  height: 415px;
  margin: 0;
  padding: 0;
}

.subscribe-newsletter {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
  padding: 96px 0 20px 0;
}

.subscribe-information {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: #ffffff;
  text-align: center;
  width: 475px;
  height: 53px;
  margin: 0 auto;
  padding-bottom: 54px;
}

.subscribe-form {
  display: flex;

}

input[type="email"] {
  width: 452px;
  height: 52px;
  border: none;
  border-radius: 4px 0 0 4px;
  background: #f2f2f2;
  padding: 0;
}

.subscribe input,
.subscribe button {
  display: inline-block;
  vertical-align: middle;
}

.page-footer {
  width: 1200px;
  height: 120px;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.page-footer-container {
  display: flex;
  width: 1060px;
  height: 50px;
  margin: 0 auto;
  padding: 40px 70px 30px;
}

.footer-social {
  display: flex;
  margin: 0;
  padding: 0;
}

.footer-social-list {
  display: flex;
  flex-direction: row;
  width: 142px;
  height: 40px;
}


.contacts {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.contacts-information {
  width: 720px;
  height: 50px;
  text-align: center;
}

.contacts-information-phone {
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.about-text {
  display: flex;
  align-items: center;
  margin: 0;
  padding: o;
}


/*СТраница отлей - каталог*/
.main-inner {
  flex-grow: 1;
  background-image: url(/images/hotels/blur-filter-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.inner-header-title {
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 78px;
  color: #ffffff;
}

.breadcrumbs {
  list-style-type: none;
}

.breadcrumbs-link {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  text-decoration: none;
  color: #ffffff;
}

.catalog-filter-list {
  list-style-type: none;
}

.catalog-filter-title {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  color: #ffffff;
}

.catalog-filter-item {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  color: #ffffff;
}

.catalog-filter-price {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  color: #ffffff;
}

.number-slider-input {
  border-radius: 4px;
  background-color: #f2f2f2;
  border: none;
  padding: 12px 20px;
}

.button-apply {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  text-align: center;
  border: none;
  border-radius: 4px;
  padding: 8px 50px;
}

.button-reset {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;
  border: none;
  text-align: center;
  padding: 8px 50px;
  border-radius: 4px;
}

.catalog-view-hotels {
  background-color: #ffffff;
}

.number-hotel-filter {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  color: #000000;
}

.select-control {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  padding: 14px 20px;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
}

.view-catalog-list {
  list-style-type: none;
}

.view-card-list {
  border-radius: 4px;
  border: 2px solid #e5e5e5;
  padding: 14px 12px;
  width: 48px;
  height: 48px;
  transition: background-color 0.6s;
}

.view-card-list:hover {
  border: 2px solid #000000;
}

.product-list {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
  list-style-type: none;
}


.hotel-card-price {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  text-align: right;
}

.hotel-card-button,
.button-favorites {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  padding: 8px 50px;
  border-radius: 4px;
  border: none;
}

.hotel-card-button {
  background-color: #756157;
}

.button-favorites {
  background-color: #82B3D3;
}

.star-rating {
  background-color: #ffffff;
}

.rating-area {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 18px;
  color: #333333;
  border-radius: 4px;
  background-color: #F2F2F2;
  width: 140px;
  height: 37px;
}

.pagination {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  background-color: #ffffff;
  text-align: center;
  list-style-type: none;
}

.pagination-item {
  width: 60px;
  height: 36px;
  padding: 11px 0 12px 0;
  border-radius: 4px;
  color: #000000;
  background-color: #F2F2F2;
  margin-bottom: 8px;
}

.pagination-link,
.pagination-item-link {
  padding: 11px 0 12px 0;
  width: 60px;
  height: 36px;
  text-decoration: none;
}

.pagination-item-link {
  background-color: #82B3D3;

  border-radius: 4px;
  margin-bottom: 8px;

}

.pagination-link {
  color: #ffffff;

}

.pagination-link-interspace {
  text-decoration: none;
  color: #000000;
}
